<%= form_with(model: @mobile_device, local: true, class: "space-y-4") do |form| %>
  <div class="form-control">
    <%= form.label :device_token, class: "label" %>
    <%= form.text_field :device_token, class: "input input-bordered w-full" %>
  </div>
  <div class="form-control">
    <%= form.label :external_key, class: "label" %>
    <%= form.text_field :external_key, class: "input input-bordered w-full" %>
  </div>
  <details>
    <summary>Optional fields</summary>
    <div class="form-control">
      <%= form.label :user_info, class: "label" %>
      <%= form.text_field :user_info, class: "input input-bordered w-full" %>
    </div>
    <div class="form-control">
      <%= form.label :device_info, class: "label" %>
      <%= form.text_field :device_info, class: "input input-bordered w-full" %>
    </div>
  </details>
  <div class="form-control mt-6">
    <%= form.submit class: "btn btn-primary w-full" %>
  </div>
<% end %>
