<div>
  <h1 class="text-2xl mb-4 text-center">
    <span class="text-black">
      (<%= @mobile_devices.count %>) Mobile Devices for external key:
    </span>
    <br>
    <span class="text-blue-900 font-bold text-sm">
      <%= params[:id]%>
    </span>
  </h1>
  <% if @mobile_user.present? %>
    <h2 class="text-xl my-6 text-center">
      Topics:
    </h2>
    <ul class="justify-center items-center mb-4 flex gap-4">
      <% @mobile_user.topics.each do |topic| %>
        <li>
          <%= topic %>
          <%= link_to "x", remove_topic_mobile_user_path(@mobile_user, topic: topic), 
                      data: { turbo_method: :delete, turbo_frame: "topics_frame", turbo_confirm: "Are you sure you want to remove this topic?" }, 
                      class: "btn btn-xs btn-error ml-1" %>
        </li>
      <% end %>
    </ul>
    <%= form_with(url: add_topic_mobile_user_path(@mobile_user), data: { turbo_frame: "topics_frame" }, class: "text-center") do |form| %>
      <%= form.text_field :topic, value: "", placeholder: "Enter new topic", class: "input" %>
      <%= form.submit "Add Topic", class: "btn btn-primary ml-4" %>
    <% end %>
  <% end %>
  <div class="space-y-4 mt-20">
    <%= render @mobile_devices, partial: "mobile_devices/mobile_device" %>
  </div>
  <% unless @mobile_devices.any? %>
    <p class="text-gray-500 text-center mt-4">
      No mobile devices found for this external key.
    </p>
  <% end %>
</div>