<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pusher" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://unpkg.com/jsoneditor@10.2.0/dist/jsoneditor.min.css" rel="stylesheet">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="mt-8 px-5 flex justify-between items-center">
      <a href="<%= root_path %>">
        <div class="text-xl font-bold">
          Pusher
          <% if mobile_access %>
            <span>
              (<%= mobile_access.app_name %>)
            </span>
          <% end %>
        </div>
      </a>
      <% if params[:show_login_input] %>
        <form action="<%= sessions_path %>" method="post" class="flex justify-center items-center">
          <input
            type="text"
            name="server_token"
            id="login"
            placeholder="Enter your server key"
            class="px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            value=""></input>
          <input type="submit" class="ml-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer" value="Login"></input>
      </form>
    <% else %>
      <div class="flex items-center space-x-4 justify-center">
        <% if mobile_access %>
          <%= link_to "Credentials", mobile_accesses_path, class: "btn btn-xs" %>
          <%= form_with url: session_path(:delete), method: :delete do %>
            <%= submit_tag "Logout", class: "btn btn-xs btn-soft btn-secondary", data: { "turbo-confirm": "Are you sure?" } %>
          <% end %>
        <% else %>
          <a href="<%= root_path(show_login_input: true) %>" class="btn btn-xs">
            Login
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
  <main class="container mx-auto mt-20 px-5 mb-28">
    <% if flash[:notice] %>
      <div class="text-center bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4 rounded">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="text-center bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4 rounded">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
